.image-select-actions(ng-class="{'has-source-type':$ctrl.image.sourceType}", data-source-type="{{$ctrl.image.sourceType}}")
	button.image-select-file(
		ng-click="$ctrl.setSourceType('upload')"
		type="button"
	)
		svg(viewBox="0 0 606 606")
			use(xlink:href="#photo")
	button.image-select-link(
		ng-click="$ctrl.setSourceType('url')"
		type="button"
	)
		svg(viewBox="0 0 606 606")
			use(xlink:href="#link")

.image-upload-field(ng-if="$ctrl.image.sourceType === 'upload'")
	label.btn(for="image-upload-file") Choose Photo
	input#image-upload-file.wai(
		type="file"
		onchange="angular.element(this).scope().$ctrl.loadImageFile(this)"
	)
	p.error(
		ng-if="$ctrl.image.error"
	) {{ $ctrl.image.error }}

.image-upload-field(ng-if="$ctrl.image.sourceType === 'url'")
	label.wai(for="image-upload-url") Enter URL
	input#image-upload-url(
		type="url"
		placeholder="Enter URL"
		ng-model="imageUrl"
		ng-keypress="$ctrl.loadImageUrl(imageUrl, $event)"
	)
	button#image-upload-url-submit.btn(
		type="button"
		ng-click="$ctrl.loadImageUrl(imageUrl)"
	) Get Image
	p.error(
		ng-if="$ctrl.image.error"
	) {{ $ctrl.image.error }}