#edit-workspace
	#edit-controls(tabindex="0")
		.edit-controls-field
			label(for="edit-controls-scale") Scale
			input#edit-controls-scale(
				type="range" 
				min="10" 
				max="150" 
				ng-model="$ctrl.scale"
				ng-change="$ctrl.setScaleAndCenter($ctrl.scale)"

			)
		.edit-controls-field
			label(for="edit-controls-rotate") Rotate
			input#edit-controls-rotate(
				type="range" 
				min="0" 
				max="360" 
				ng-model="$ctrl.rotate"
				ng-change="$ctrl.setRotate($ctrl.rotate)"
			)
	#edit-workspace-image
	#edit-workspace-gabby(
		style="top:{{$ctrl.gabby.yPos}}px;left:{{$ctrl.gabby.xPos}}px;width:{{$ctrl.gabby.scale}}%;"
	)
		img(
			src="/img/gabby.png" 
			alt="gabby"
			style="transform:rotate({{$ctrl.gabby.rotate}}deg);-webkit-transform:rotate({{$ctrl.gabby.rotate}}deg);"
		)
a#edit-download.btn(
	ng-click="$ctrl.download()"
) Download Image